<h3 class="c-newsfeed-list__item__title c-newsfeed-list__item__text"><%= item.source.feed.title %> <span class="c-newsfeed-list__item__pd"><%= item.time_since_creation %></span></h3>

<div class="c-newsfeed-list__item__bd">
  <% if item.source.image %>
    <p><%= image_tag item.source.image, alt: "Image" %></p>
  <% end %>
  <p class="c-newsfeed-list__item__text"><%= item.source.title %></p>
  <p class="c-newsfeed-list__item__text"><%= item.content %></p>
  <p class="c-newsfeed-list__item__text"><%= link_to "View article", item.source.url, class: "u-text--orange", target: "_blank" %></p>
</div>