<% newsfeed_items.each do |feed_item| %>
  <div class="newsfeed-item">
    
    <div class="newsfeed-header">
      <% if feed_item.source_type == "profile" %>
        <%= image_tag feed_item.source.profile_photo, class: "newsfeed-profile-pic" %>
      <% end %>
      <div class="header-text">
        <h3><%= feed_item.source_name_or_title(profile) %></h3>
        <h5><%= feed_item.time_since_creation %></h5>
        <h3><%= feed_item.header.html_safe %></h3>
      </div>
    </div>
    
    <div class="newsfeed-content">
      <p><%= feed_item.content %></p>
    </div>

    <div class="likes-overview">
      <%= like_button(feed_item, profile) %> <span class="like-number"><%= like_number(feed_item) %></span>
    </div>

    <div class="comments-overview">
      <%= render partial: "profiles/comments/section_overview", locals: {newsfeed_item: feed_item, profile: profile} %>
    </div>

  </div> <!-- newsfeed-item -->
<% end %>