<% newsfeed_items.each do |feed_item| %>
  <div class="newsfeed-item">
    
    <div class="newsfeed-header">
      <h3><%= feed_item.source_name_or_you(profile) %></h3>
      <h5><%= feed_item.time_since_creation %></h5>
      <h3><%= feed_item.header %></h3>
    </div>
    
    <div class="newsfeed-content">
      <p><%= feed_item.content %></p>
    </div>

    <div class="likes-overview">
      <%= like_button(feed_item, profile) %> <span class="like-number"><%= like_number(feed_item) %></span>
    </div>

  </div> <!-- newsfeed-item -->
<% end %>