<div class="c-newsfeed-list">
<% newsfeed_items.each do |feed_item| %>
  
  <div class="o-bubble c-newsfeed-list__item">

    <% if feed_item.source_type == "profile" %>
      <%= render partial: "profiles/newsfeed_items/native_item", locals: {profile: @profile, item: feed_item} %> 
    <% else %>
      <%= render partial: "profiles/newsfeed_items/feed_item", locals: {profile: @profile, item: feed_item} %>
    <% end %>

    <div class="c-social-overview">
      <div class="c-social-overview__likes">
        <%= like_button(feed_item, profile) %> <span class="u-text--gray"><%= like_number(feed_item) %></span>
      </div>
      <div class="c-social-overview__comments">
        <%= render partial: "profiles/comments/section_overview", locals: {newsfeed_item: feed_item, profile: profile} %>
      </div>
    </div>

  </div>
<% end %>
</div> 