<%= form_for(item, url: profile_newsfeed_items_path(profile_id: profile.id)) do |f| %>

  <%= image_tag profile.profile_photo, class: "newsfeed-profile-pic"  %>

  <div class="text-form-with-errors">
    <%= f.text_area(:content, rows: 3, placeholder: "Share something nu...") %>
    <p class="form-label">
      <span class="error-message"><%= add_errors_if_any(item, :content) %></span>
    </p>
  </div>

  
  <ul class="check-list inline-list tags-list">
    <%= fields_for :tags do |tag| %>
      <li>
        <%= tag.check_box :water, {}, '1', false %>
        <%= tag.label :water, 'Water' %>
      </li>
      <li>
        <%= tag.check_box :waste, {}, '1', false %>
        <%= tag.label :waste, 'Waste' %>
      </li>
      <li>
        <%= tag.check_box :diet, {}, '1', false %>
        <%= tag.label :diet, 'Diet' %>
      </li>
      <li>
        <%= tag.check_box :travel, {}, '1', false %>
        <%= tag.label :travel, 'Travel' %>
      </li>
      <li>
        <%= tag.check_box :energy, {}, '1', false %>
        <%= tag.label :energy, 'Energy' %>
      </li>
      <li>
        <%= tag.check_box :social, {}, '1', false %>
        <%= tag.label :social, 'Social' %>
      </li>
      <% end %>
  </ul>

  <div class="submit-form">
    <%= f.submit "Post" %>
  </div>

<% end %>