<script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram";
    UPLOADCARE_PUBLIC_KEY = "<%= ENV['uploadcare_public_key'] %>";
</script>
<script charset="utf-8" src="//ucarecdn.com/widget/2.8.2/uploadcare/uploadcare.full.min.js"></script>

<div class="wrapper centered-content">

  <div class="component">
    <h2>Create your profile!</h2>
    <%= form_for @profile do |f| %>
    <div class="new-profile-form">
      <div class="cover-photo-form">
        <input type="hidden" role="uploadcare-uploader"
          data-crop="1:1.9"
          data-preview-step="true"
          data-images-only="true"
          name="profile[cover_photo]"
        />
        <span class="form-label">Cover photo</span>
      </div>
      <div class="photo-with-names">
        <div class="profile-photo">
          <img src="" alt="">
          <input type="hidden" role="uploadcare-uploader"
            data-crop="1:1"
            data-preview-step="true"
            data-images-only="true"
            data-image-shrink="400x400"
            name="profile[profile_photo]" 
           />    
        </div> <!-- profile-photo -->
        <div class="first-and-last-name">
          <div class="text-form-with-errors">
            <%= f.text_field :first_name, autofocus: true %>
            <p class="form-label">
              <%= f.label :first_name %>
              <span class="error-message"><%= add_errors_if_any(@profile, :first_name) %></span>
            </p>
          </div>
          <div class="text-form-with-errors">
            <%= f.text_field :last_name %>
            <p class="form-label">
              <%= f.label :last_name %>
              <span class="error-message"><%= add_errors_if_any(@profile, :last_name) %></span>
            </p>
          </div>
        </div> <!-- first-and-last-name -->
      </div> <!-- photo-with-names -->
      <div class="text-form-with-errors">
        <%= f.text_area(:interests, rows: 10) %>
        <p class="form-label">
          <%= f.label :interests %>
          <span class="error-message"><%= add_errors_if_any(@profile, :interests) %></span>
        </p>
      </div>
      <div class="select-form-with-errors">
        <p class="form-label">
          <%= f.label :state %>
          <span class="error-message"><%= add_errors_if_any(@profile, :state) %></span>
        </p>
        <%= f.select(:state, options_for_select(state_list, selected: @profile.state)) %>
      </div>
      <div class="submit-form">
        <%= f.submit "Create profile" %>
      </div>
    </div> <!-- new-profile-form -->
    <% end %> <!-- form -->
  </div> <!-- component -->
  
</div> <!-- wrapper centered-content -->
