<div class="c-profile-heading" style="background-image: url(<%= @target_profile.cover_photo %>)">
  <div class="c-profile-heading__img-and-link">
    <div class="c-profile-summary">
      <%= image_tag @target_profile.profile_photo, class: "o-img--large o-img--round c-profile-summary__el" %>
      <p class="c-profile-summary__el"><%= subscription_link(@profile, @target_profile, true) %></p>
    </div> <!-- c-profile-summary -->
  </div>
  <div class="c-profile-heading__info">
    <div class="c-profile-heading__info__wrapper">
      <div class="c-profile-heading__info__nlj">
        <h2 class="c-profile-heading__info__text"><%= @target_profile.full_or_abbrev_name %></h2>
        <p class="c-profile-heading__info__text">
          <i class="fa fa-map-marker fa-lg u-text--apricot"></i>
          <%= @target_profile.state.upcase %>
        </p>
        <h6 class="c-profile-heading__info__text">
          <i class="fa fa-clock-o fa-lg u-text--flax"></i>
          Joined <%= @target_profile.start_date %>
        </h6>

      </div> <!-- c-profile-heading__info__nlj -->
      <div class="c-profile-heading__info__ple">
        <h3 class="c-profile-heading__info__text">
          <%= @target_profile.point_overview.total %>pts | <%= @target_profile.current_place %> place
        </h3>
        <div class="c-profile-heading__info__ple__bar-outline">
          <div class="c-profile-heading__info__ple__bar-fill" style="width: <%= recent_footprint_allotment_percentage(@target_profile.last_finished_footprint) %>%"></div>
        </div>
        <h6 class="c-profile-heading__info__ple__bar-label">Emissions Allowance</h6>
        <h6 class="c-profile-heading__info__ple__bar-lm">
          <%= link_to "What is this?", about_data_path, class: "u-text--white" %>
        </h6>
      </div> <!-- c-profile-heading__info__ple -->
    </div>
    <p class="c-profile-heading__info__text c-profile-heading__info__interests">
      <%= @target_profile.interests %>
    </p>
  </div>
  
</div>

<div class="o-wrapper">

  <div class="c-profile-section">
    <h2 class="c-profile-section__title">
      <%= @target_profile.followers.length %> Followers
    </h2>    
    <%= render partial: "follows_summary", locals: {follows: @target_profile.follows, profile: @profile} %>
  </div> <!-- c-profile-section -->

  <div class="c-profile-section">
    <h2 class="c-profile-section__title">
      <%= @target_profile.followings.length %> Followings
    </h2>
    <%=  render partial: "subscriptions_summary", locals: {subscriptions: @target_profile.subscriptions, profile: @profile} %>
  </div> <!-- profile-relation following-summary -->

  <div class="c-profile-section">
    <h2 class="c-profile-section__title">Feed</h2>
    <%= render partial: "feed_summary", locals: {profile: @target_profile} %>
  </div>
</div> <!-- o-wrapper -->
