<div class="profile-show">
<% binding.pry %>
  <div class="profile-overview">
    <%= render partial: "profiles/profile_overview", locals: {profile: @profile, user_profile: @user.profile} %>
  </div>
  
  <% if @profile == @user.profile %>
    
    <div class="profile-relation follower-summary">
      <%= render partial: "follows_summary", locals: {follows: @profile.follows, user: @user} %>
    </div> <!-- profile-relation follower-summary -->

    <div class="profile-relation following-summary">
      <%=  render partial: "subscriptions_summary", locals: {subscriptions: @profile.subscriptions, user: @user} %>
    </div> <!-- profile-relation following-summary -->
  
  <% else %>

    <div class="profile-relation follower-summary">
      <h3>Followers: <%= @profile.followers.length %></h3>
    </div>

    <div class="profile-relation">
      <h3>Following: <%= @profile.followings.length %></h3>
    </div>

  <% end %> <!-- profile belongs to user --> 
</div>
