<div class="profile-challenges-show challenges-show">
  <h1><%= @profile_challenge.challenge.title %> <span><%= @profile_challenge.start_date %></span></h1>
  <h2><%= @profile_challenge.challenge.caption %></h2>
  <p><%= @profile_challenge.challenge.description %></p>
  <h4><%= link_to "Back to challenges", profile_profile_challenges_path(profile_id: @profile.id) %></h4>
</div>