<%= javascript_include_tag "footprint_pie_graph", "data-turbolinks-track" => true %>

<%= content_tag "div", class: "jsFootprintPieGraph", data: {footprint_overview: footprint.pie_graph_data, creation_date: footprint.friendly_creation_date} do %>
    Loading graph...
  <% end %>  
  <h3>Total emissions: <span><%= emissions_statement(footprint, index) %></span></h3>
  <h3>Percent of share: <span><%= percent_of_share(footprint) %></span></h3>
  <h3>Percent of national average: <span><%= percent_of_average(footprint) %></span></h3>
  <% if index == 0 && !footprint.complete? %>
    <h4><%= link_to "Finish footprint", profile_footprint_path(profile_id: footprint.profile.id, id: footprint.id) %></h4>  
  <% else %>
    <h4><%= link_to "View details", profile_footprint_path(profile_id: footprint.profile.id, id: footprint.id) %></h4>
  <% end %>