<%= javascript_include_tag 'footprint_pie_graph', 'data-turbolinks-track' => true %>

<% # TODO: parse legend into helper function %>

<div class="c-footprint-results__section c-footprint-results__gl">
  <%= content_tag "div", class: "jsFootprintPieGraph c-footprint-results__gl__graph", data: {footprint_overview: footprint.pie_graph_data, creation_date: footprint.long_creation_date} do %>
      Loading graph...
  <% end %>
  <div class="c-footprint-results__gl__legend">
    <ul class="o-inline-list">
    

    <li class="o-inline-list__li o-media c-footprint-results__gl__legend__item">
      <div class="c-points-breakdown__desc-and-legend__legend-item__dot o-media__img c-points-breakdown__desc-and-legend__legend-item__dot--transportation"></div>
      <div class="o-media__bd">
      <h5>
        Travel - <%= footprint.transportation_emissions %>
      </h5>
      </div>
    </li>
    
    <li class="o-inline-list__li o-media c-footprint-results__gl__legend__item">
      <div class="c-points-breakdown__desc-and-legend__legend-item__dot o-media__img c-points-breakdown__desc-and-legend__legend-item__dot--home-energy"></div>
      <div class="o-media__bd">
        <h5>
          Energy - <%= footprint.home_energy_emissions %>
        </h5>
      </div>      
    </li>
    
    <li class="o-inline-list__li o-media c-footprint-results__gl__legend__item">
      <div class="c-points-breakdown__desc-and-legend__legend-item__dot o-media__img c-points-breakdown__desc-and-legend__legend-item__dot--water"></div>
      <div class="o-media__bd">
        <h5>
          Water - <%= footprint.water_emissions %>
        </h5>
      </div> 
    </li>
    
    <li class="o-inline-list__li o-media c-footprint-results__gl__legend__item">
      <div class="c-points-breakdown__desc-and-legend__legend-item__dot o-media__img c-points-breakdown__desc-and-legend__legend-item__dot--waste"></div>
      <div class="o-media__bd">
        <h5>
          Waste - <%= footprint.waste_emissions %>
        </h5>
      </div>
    </li>
    
    <li class="o-inline-list__li o-media c-footprint-results__gl__legend__item">
      <div class="c-points-breakdown__desc-and-legend__legend-item__dot o-media__img c-points-breakdown__desc-and-legend__legend-item__dot--diet"></div>
      <div class="o-media__bd">
        <h5>
          Food - <%= footprint.diet_emissions %>
        </h5>
      </div>
    </li>
    
  </ul>
  </div>
</div>

<div class="c-footprint-results__section c-footprint-results__text">
  <% if single_result %>
    <p class="c-footprint-results__text__sub-section">
      <%= button_to "Share reults", profile_newsfeed_items_path(profile_id: @profile.id, newsfeed_item: {content: "Completed an emissions assessment! This past month I emitted #{footprint.total_emissions}, #{footprint.percent_of_us_allotment}\% of the US share!"}) %>
    </p>
  <% end %>
  <div class="c-footprint-results__text__sub-section">
    <p class="u-text--monte-carlo">Overall Emissions</p>
    <p><%= footprint.total_emissions %> lbs of CO2<sub>e</sub></p>
  </div>
  <div class="c-footprint-results__text__sub-section">
    <p class="u-text--monte-carlo">Share</p>
    <p>You're using <%= footprint.percent_of_us_allotment %>% of your share for the US</p>
  </div>
  <div class="c-footprint-results__text__sub-section">
    <p class="u-text--monte-carlo">Resources</p>
    <p>It takes EARTH DATA HERE</p>
  </div>
  <% if single_result %>
    <div class="c-footprint-resluts__text__sub-section">
      <p><%= link_to "See Stats", profile_stats_path(profile_id: footprint.profile.id), class: "u-text--apricot" %></p>
    </div>
    <div class="c-footprint-resluts__text__sub-section">
      <p><%= link_to "View Past Reports", profile_footprints_path(profile_id: footprint.profile.id), class: "u-text--apricot" %></p>
    </div>
  <% end %>
</div> <!-- c-footprint-results__text -->