<%= javascript_include_tag "footprint_line_graph", "data-turbolinks-track" => true %>

<div class="o-wrapper">

  <% if @footprints.empty? %>
  
  <div class="o-bubble o-bubble--full">
    <h3>Let's get started! <%= link_to("Figure out your carbon footprint!", profile_footprints_path(profile_id: @profile.id), method: :post) %></h3>
  </div> <!-- o-bubble o-bubble--full -->
  
  <% else %>
  
  <h4><%= link_to "Back to Stats", profile_stats_path(profile_id: @profile.id), class: "orange-link" %></h4>
  <div class="o-bubble o-bubble--full">
    <h1>Progress</h1>
    <%= content_tag "div", id: "footprint-line-graph", data: {footprints_overview: @profile.footprint_overview_data} do %> 
        Loading footprint history...
    <% end %>
  </div> <!-- o-bubble o-bubble--full -->

  <div class="o-bubble o-bubble--full">
    
    <h2>View Past Reports</h2>
    <% @footprints.each_with_index do |footprint, index| %>
      <div class="c-footprint-results c-footprint-results--index">
        <%= render partial: "profiles/footprints/footprint_summary", locals: {footprint: footprint, index: index, single_result: false} %>
      </div>
    <% end %>
    
  </div> <!-- o-bubble o-bubble--full -->

  <% end %> <!-- if @footprints.empty -->

</div> <!-- o-wrapper -->