<h2>Calculator</h2>
<% if profile.footprints.empty? %>
  <h3>You haven't completed a footprint assessment.</h3>
  <%= button_to("Start", profile_footprints_path(profile.id), method: :post) %>
<% elsif profile.footprints.last.complete? == false %>
  <h3>Calculator in progress</h3>
  <%= button_to("Complete", profile_footprint_path(profile_id: profile.id, id: profile.footprints.last.id), method: :get) %>
<% else %>
  <h4>Last updated <%= profile.footprints.last.friendly_creation_date %></h4>
  <%= button_to("Reassess", profile_footprints_path(profile.id), method: :post) %>
  <h4><%= link_to "View Past Reports", profile_footprints_path(profile.id) %></h4>
<% end %>