<% if profile.footprints.empty? %>

  <h2 class="o-stat-section__section--top__heading">Your Footprint</h2>
  <p>You haven't completed the calculator yet.</p>
  <p>
    <%= button_to("Start", profile_footprints_path(profile.id), method: :post) %>
  </p>

<% elsif profile.footprints.last.complete? == false %>

  <h2 class="o-stat-section__section--top__heading--high">Your Footprint</h2>
  <p>Calculator in progress</p>
  <p>
    <%= button_to("Complete", profile_footprint_path(profile_id: profile.id, id: profile.footprints.last.id), method: :get) %>
  </p>
  <h4><%= link_to "View Past Reports", profile_footprints_path(profile.id), class: "u-text--apricot" %></h4>

<% else %>
  <h2 class="o-stat-section__section--top__heading--high">Your Footprint</h2>
  <p>Last updated <%= profile.footprints.last.friendly_creation_date %></p>
  <p>
    <%= button_to("Reassess", profile_footprints_path(profile.id), method: :post) %>
  </p>
  <p><%= link_to "View Past Reports", profile_footprints_path(profile.id), class: "u-text--apricot" %></p>

<% end %>