<h2>Leaderboard</h2>
<ul class="leaderboard-list">
  <% leaderboards_around_profile(profile.id, 3).each do |leader| %>
  <li class="leaderboard-profile <%= is_current_profile_leader(profile.id, leader[:prof].id) %>">
    <p>
      <span class="leader-place"><%= leader[:place] %></span>
      <%= image_tag(leader[:prof].profile_photo) %>
      <span class="leader-name"><%= leader[:prof].full_name %></span>
      <span class="point-number"><%= leader[:prof].point_overview.total %></span>
    </p>
  </li>
  
  <% end %>
</ul>