<h2 class="c-leaderboard__title">Leaderboard</h2>
<ul>
  <% leaderboards_around_profile(profile.id, 3).each do |leader| %>
  <li class="c-leaderboard__li <%= is_current_profile_leader(profile.id, leader[:prof].id) %>">
    <p class="c-leaderboard__li__p">
      <span class="c-leaderboard__li__p__place"><%= leader[:place] %></span>
      <%= image_tag(leader[:prof].profile_photo, class: "o-img--round o-img--med c-leaderboard__li__p__img") %>
      <span class="c-leaderboard__li__p__name"><%= leader[:prof].full_name %></span>
      <span class="c-leaderboard__li__p__points"><%= leader[:prof].point_overview.total %></span>
    </p>
  </li>
  
  <% end %>
</ul>