<h2 class="c-points-breakdown__header">Point Breakdown</h2>

<%= content_tag "div", id: "jsPointOverviewGraph", class: "c-points_breakdown__div c-points-breakdown__graph", data: {point_overview: profile.point_overview.graph_data} do  %>
  Loading points...
<% end %>

<div class="c-points-breakdown__div c-points-breakdown__desc-and-legend">
  
  <p>These points indicate your progress across various environmental areas.</p>
  
  <ul class="o-inline-list">
    

    <li class="o-inline-list__li o-media c-points-breakdown__desc-and-legend__legend-item">
      <div class="c-points-breakdown__desc-and-legend__legend-item__dot o-media__img c-points-breakdown__desc-and-legend__legend-item__dot--transportation"></div>
      <div class="o-media__bd c-points-breakdown__desc-and-legend__legend-item__bd">
      <h5 class="c-points-breakdown__desc-and-legend__legend-item__bd__title">
        Travel
      </h5>
      <h6 class="u-text--blue">
        <%= profile.point_overview.section_percent(:transportation) %>% - <%= profile.point_overview.transportation %>pts
      </h6>
      </div>
    </li>
    
    <li class="o-inline-list__li o-media c-points-breakdown__desc-and-legend__legend-item">
      <div class="c-points-breakdown__desc-and-legend__legend-item__dot o-media__img c-points-breakdown__desc-and-legend__legend-item__dot--home-energy"></div>
      <div class="o-media__bd c-points-breakdown__desc-and-legend__legend-item__bd">
        <h5 class="c-points-breakdown__desc-and-legend__legend-item__bd__title">
          Energy
        </h5>
        <h6 class="u-text--blue">
          <%= profile.point_overview.section_percent(:home_energy) %>% - <%= profile.point_overview.home_energy %>pts
        
        </h6>
      </div>      
    </li>
    
    <li class="o-inline-list__li o-media c-points-breakdown__desc-and-legend__legend-item">
      <div class="c-points-breakdown__desc-and-legend__legend-item__dot o-media__img c-points-breakdown__desc-and-legend__legend-item__dot--water"></div>
      <div class="o-media__bd c-points-breakdown__desc-and-legend__legend-item__bd">
        <h5 class="c-points-breakdown__desc-and-legend__legend-item__bd__title">
          Water
        </h5>
        <h6 class="u-text--blue">
          <%= profile.point_overview.section_percent(:water) %>% - <%= profile.point_overview.water %>pts
        </h6>
      </div> 
    </li>
    
    <li class="o-inline-list__li o-media c-points-breakdown__desc-and-legend__legend-item">
      <div class="c-points-breakdown__desc-and-legend__legend-item__dot o-media__img c-points-breakdown__desc-and-legend__legend-item__dot--waste"></div>
      <div class="o-media__bd c-points-breakdown__desc-and-legend__legend-item__bd">
        <h5 class="c-points-breakdown__desc-and-legend__legend-item__bd__title">
          Waste
        </h5>
        <h6 class="u-text--blue">
          <%= profile.point_overview.section_percent(:waste) %>% - <%= profile.point_overview.waste %>pts
        </h6>
      </div>
    </li>
    
    <li class="o-inline-list__li o-media c-points-breakdown__desc-and-legend__legend-item">
      <div class="c-points-breakdown__desc-and-legend__legend-item__dot o-media__img c-points-breakdown__desc-and-legend__legend-item__dot--diet"></div>
      <div class="o-media__bd c-points-breakdown__desc-and-legend__legend-item__bd">
        <h5 class="c-points-breakdown__desc-and-legend__legend-item__bd__title">
          Food
        </h5>
        <h6 class="u-text--blue">
          <%= profile.point_overview.section_percent(:diet) %>% - <%= profile.point_overview.diet %>pts
        </h6>
      </div>
    </li>
    
    <li class="o-inline-list__li o-media c-points-breakdown__desc-and-legend__legend-item">
      <div class="c-points-breakdown__desc-and-legend__legend-item__dot o-media__img c-points-breakdown__desc-and-legend__legend-item__dot--social"></div>
      <div class="o-media__bd c-points-breakdown__desc-and-legend__legend-item__bd">
        <h5 class="c-points-breakdown__desc-and-legend__legend-item__bd__title">
          Social
        </h5>
        <h6 class="u-text--blue">
          <%= profile.point_overview.section_percent(:social) %>% - <%= profile.point_overview.social %>pts
        </h6>
      </div>
    </li>
  </ul>
</div>