<%= javascript_include_tag "point_graph", "data-turbolinks-track" => true %>

<div class="o-wrapper o-wrapper--wide">

  <div class="o-stat-section--left">
    <div class="o-bubble o-bubble--full o-bubble--centered-content o-stat-section__section--top">
      <%= render partial: "profiles/stats/calculator_reminder", locals: {profile: @profile} %>
    </div>
    <div class="o-bubble o-bubble--full c-leaderboard">
      <%= render partial: "profiles/stats/leaderboard_overview", locals: {profile: @profile, leaders: @leaders_around_profile, high_leader: @highest_leader} %>
    </div>
  </div>

  <div class="o-stat-section--right ">
    <div class="o-bubble o-bubble--full o-bubble--centered-content c-emissions-allowance o-stat-section__section--top">
      <%= render partial: "profiles/stats/emissions_allowance", locals: {profile: @profile} %>
    </div>
    <div class="o-bubble o-bubble--full o-bubble--centered-content c-emissions-sections">
      <%= render partial: "profiles/stats/emissions_sections", locals: {profile: @profile} %>
    </div>
    <div class="o-bubble o-bubble--full">
     <%= render partial: "profiles/stats/point_breakdown", locals: {profile: @profile} %>
    </div>
  </div>

</div>