<%= javascript_include_tag "point_graph", "data-turbolinks-track" => true %>
<div class="stats-index">
  
  <div class="calculator-and-leaderboard left-side">
    <div class="calculator-reminder component">
      <%= render partial: "profiles/stats/calculator_reminder", locals: {profile: @profile} %>
    </div>
    <div class="leaderboard-overview component">
      <%= render partial: "profiles/stats/leaderboard_overview", locals: {profile: @profile} %>
    </div>
  </div>

  <div class="emissions-points-overview right-side">
    <div class="us-allotment component">
      <%= render partial: "profiles/stats/us_allotment", locals: {profile: @profile} %>
    </div>
    <div class="co2e-overview component">
      <%= render partial: "profiles/stats/emissions_sections", locals: {profile: @profile} %>
    </div>
    <div class="point-breakdown component">
     <%= render partial: "profiles/stats/point_breakdown", locals: {profile: @profile} %>
    </div>
  </div>

  
</div>