<ul class="o-dropdown c-prof-dropdown">

  <%= profile_or_user_summary(user) %>
  <li class="o-dropdown__li"><%= link_to "Settings", profile_general_settings_path(profile_id: @user.profile.id), class: "c-prof-dropdown__link" %></li>
  <li class="o-dropdown__li"><%= link_to "Blog", blog_posts_path, class: "c-prof-dropdown__link" %></li>
  <li class="o-dropdown__li"><%= link_to "About", about_general_path, class: "c-prof-dropdown__link" %></li>
  <li class="o-dropdown__li"><%= link_to "Help", profile_site_help_path(profile_id: @user.profile.id), class: "c-prof-dropdown__link" %></li>
  <li class="o-dropdown__li"><%= link_to "Terms & Conditions", profile_site_terms_path(profile_id: @user.profile.id), class: "c-prof-dropdown__link" %></li>
  <li class="o-dropdown__li"><%= link_to "Sitemap", profile_sitemap_path(profile_id: @user.profile.id), class: "c-prof-dropdown__link" %></li>
  <li class="o-dropdown__li"><%= link_to "Feedback", new_feedback_path, class: "c-prof-dropdown__link" %></li>
  <li class="o-dropdown__li"><%= button_to "Logout", logout_path, method: :delete, class: "button--orange" %></li>

</ul>