
<ul>

  <%= profile_or_user_summary(user) %>
  <li><%= link_to "Settings", profile_general_settings_path(profile_id: @profile.id) %></li>
  <li><%= link_to "About", about_general_path %></li>
  <li>Help</li>
  <li>Terms & Conditions</li>
  <li><%= link_to "Sitemap", profile_sitemap_path(profile_id: @profile.id) %></li>
  <li>Feedback</li>
  <li><%= link_to "Logout", logout_path, method: :delete %></li>

</ul>