<div class="o-wrapper">

  <div class="o-bubble o-bubble--full c-calculator-questions">
    <%= form_for(@vehicle, url: transportation_vehicles_path(transportation_id: @transportation.id), method: :post) do |f| %>

    <div class="c-calculator-questions__q-block">
      <h2 class="c-calculator-questions__q-block__prompt">Do you own a home vehicle? </h2>
      <p class="error-message"><%= add_errors_if_any(@vehicle, :have) %></p>
      <ul class="o-inline-list c-calculator-questions__q-block__response-list">
        <li class="o-inline-list__li">
          <%= f.radio_button :have, "1", {checked: true, class: "c-calculator-questions__q-block__response-list__response"} %>
          <%= f.label :have, "Yes" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :have, "0", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :have, "No" %>
        </li>
      </ul>
    </div>

    <div class="c-calculator-questions__q-block">
      <h2 class="c-calculator-questions__q-block__prompt">What kind of vehicle is it?</h2>
      <p class="error-message"><%= add_errors_if_any(@vehicle, :vehicle_type) %></p>
      <ul class="o-inline-list c-calculator-questions__q-block__response-list">
        <li class="o-inline-list__li">
          <%= f.radio_button :vehicle_type, "car", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :vehicle_type, "Car" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :vehicle_type, "truck", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :vehicle_type, "Truck" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :vehicle_type, "motorcycle", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :vehicle_type, "Motorcycle" %>
        </li>
      </ul>
    </div>

    <div class="c-calculator-questions__q-block">
      <h2 class="c-calculator-questions__q-block__prompt">What type of fuel does it take?</h2>
      <p class="error-message"><%= add_errors_if_any(@vehicle, :fuel_type) %></p>
      <ul class="o-inline-list c-calculator-questions__q-block__response-list">
        <li class="o-inline-list__li">
          <%= f.radio_button :fuel_type, "gasoline", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :fuel_type, "Gasoline" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :fuel_type, "diesel", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :fuel_type, "Diesel" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :fuel_type, "b100", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :fuel_type, "B100 (biofuel)" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :fuel_type, "b20", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :fuel_type, "B20 (biofuel)" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :fuel_type, "hybrid", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :fuel_type, "Hybrid" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :fuel_type, "pi_hybrid", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :fuel_type, "Plug in hybrid" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :fuel_type, "electric", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :fuel_type, "Electric" %>
        </li>
      </ul>
    </div>

    <div class="c-calculator-questions__q-block">
      <h2 class="c-calculator-questions__q-block__prompt">About how many miles a week do you drive it?</p>
      <p class="error-message"><%= add_errors_if_any(@vehicle, :mweek) %></p>
      <p>
        <%= f.text_field :mweek, placeholder: "Miles per week..." %>
      </p>
    </div>

    <div class="c-calculator-questions__q-block">
      <h2 class="c-calculator-questions__q-block__prompt">How many miles to the gallon does it get?</h2>
      <p class="error-message"><%= add_errors_if_any(@vehicle, :mpg) %></p>
      <p>
        <%= f.text_field :mpg, placeholder: "Miles per gallon..." %>
      </p>
    </div>

    <div class="submit-form">
      <%= f.submit "Submit" %>
    </div>

  <% end %> <!-- form -->
  </div> <!-- o-bubble o-bubble--full -->
  
</div> <!-- o-wrapper -->