<div class="o-wrapper">
  <div class="c-calculator-nav">
   
    <ul class="o-inline-listnav-items">
      <li class="o-inline-list__li"><%= transportation_link(footprint) %></li>
      <li class="o-inline-list__li"><%= home_energy_link(footprint) %></li>
      <li class="o-inline-list__li"><%= water_link(footprint) %></li>
      <li class="o-inline-list__li"><%= waste_link(footprint) %></li>
      <li class="o-inline-list__li"><%= diet_link(footprint) %></li>
      <!-- <li class="right-side"><%= flash[:calculator_message] %></li> -->
    </ul>

    <div class="c-calculator-nav__progress">
      <h4 class="c-calculator-nav__progress__el c-calculator-nav__progress__title">Progress</h4>
      <div class="c-calculator-nav__progress__el c-calculator-nav__progress__bar">
        <div class="c-calculator-nav__progress__bar__neg" style="width: <%= 100 - footprint.percent_progress %>%"></div>
      </div>
      <h4 class="c-calculator-nav__progress__el c-calculator-nav__progress__percent"><%= footprint.percent_progress %>%</h4>
    </div>

  </div>
</div>