<div class="nav-bar calculator-sections-nav">
  <ul class="nav-items">
    <li><%= link_to "Overview", profile_footprint_path(profile_id: footprint.profile.id, id: footprint.id) %></li>
    <li><%= diet_link(footprint) %></li>
    <li><%= water_link(footprint) %></li>
    <li><%= waste_link(footprint) %></li>
    <li><%= transportation_link(footprint) %></li>
    <li><%= home_energy_link(footprint) %></li>
    <li class="right-side"><%= flash[:calculator_message] %></li>
  </ul>
</div>