<div class="o-wrapper">
  <div class="c-calculator-nav">
   
    <ul class="o-inline-listnav-items">
      <li class="o-inline-list__li"><%= image_tag('icon_gray_transportation.png') %></li>
      <li class="o-inline-list__li"><%= image_tag('icon_gray_home_energy.png') %></li>
      <li class="o-inline-list__li"><%= image_tag('icon_gray_water.png') %></li>
      <li class="o-inline-list__li"><%= image_tag('icon_gray_waste.png') %></li>
      <li class="o-inline-list__li"><%= image_tag('icon_gray_diet.png') %></li>
    </ul>

    <div class="c-calculator-nav__progress">
      <h4 class="c-calculator-nav__progress__el c-calculator-nav__progress__title">Progress</h4>
      <div class="c-calculator-nav__progress__el c-calculator-nav__progress__bar">
        <div class="c-calculator-nav__progress__bar__neg" style="width: 100%;"></div>
      </div>
      <h4 class="c-calculator-nav__progress__el c-calculator-nav__progress__percent">0%</h4>
    </div>

  </div>
</div>