<table class="c-top-nav c-top-nav--full">
  <tbody>
    <tr>
      
      <td class="c-top-nav__nav-section c-top-nav__nav-section--wide">
      
        <ul class="o-inline-list">

          <li class="o-inline-list__li">
            <%= link_to "<i class='fa fa-leaf c-top-nav__nav-section__text-link__icon'></i>Footprint".html_safe, new_footprint_or_complete_path(@user.profile), class: "c-top-nav__nav-section__text-link" %>  
          </li>

          <li class="o-inline-list__li">
            <%= link_to "<i class='fa fa-signal c-top-nav__nav-section__text-link__icon'></i>Stats".html_safe, profile_stats_path(@user.profile), class: "c-top-nav__nav-section__text-link" %>
          </li>

          <li class="o-inline-list__li">
            <%= link_to "<i class='fa fa-trophy c-top-nav__nav-section__text-link__icon'></i>Challenges".html_safe, profile_profile_started_challenges_path(@user.profile), class: "c-top-nav__nav-section__text-link" %>    
          </li>

        </ul>

      </td> 
      
      <td class="c-top-nav__nav-section c-top-nav__nav-section--narrow">

        <%= link_to image_tag("nu_color_logo.svg", class: "c-top-nav__nav-section__img" ), root_path %>

      </td>
      
      <td class="c-top-nav__nav-section c-top-nav__nav-section--wide">
        
        <ul class="o-inline-list">

          <li class="o-inline-list__li c-top-nav__nav-section__right-section c-search-bar">
            <%= render partial: "profiles/search/search_bar", locals: {profile: @user.profile} %>
          </li>  <!-- search-form -->
          
          <li class="o-inline-list__li c-top-nav__nav-section__right-section jsDropdownButton" id="jsNotiDropdownButton">
            <%= button_tag("<i class='fa fa-bell fa-2x'></i>".html_safe, class: "c-top-nav__nav-section__icon-link") %>
            <div 
              class="c-top-nav__nav-section__icon-link__noti-dot <%= pending_follows_color(@user.profile) %>"
            ></div>
          </li> <!-- notifications -->

          <li class="o-inline-list__li c-top-nav__nav-section__right-section jsDropdownButton" id="jsProfDropdownButton">
            <%= button_tag(class: "c-top-nav__nav-section__icon-link c-top-nav__nav-section__icon-link--no-pad") do %>
              <%= image_tag @user.profile.profile_photo, class: "c-top-nav__nav-section__img" %>
              <i class='fa fa-caret-down'></i>
            <% end %>
          </li> <!-- dropdown-menu -->

        </ul>

      </td>
      

    </tr>
  </tbody>
</table> <!-- nav-bar top-nav -->

<!-- dropdown menu -->
<%= render partial: "dropdown_menu/dropdown_menu", locals: {user: @user} %>

<!-- notifications-menu -->
<%= react_component 'NotificationsMenu', {profileID: @user.profile.id} %>