<table class="nav-bar top-nav full-top">
  <tr class="nav-items">
    
    <!-- left -->
    <td class="nav-section">
      <div><%= link_to "<i class='fa fa-list fa-lg'></i>Feed".html_safe, profile_newsfeed_items_path(@user.profile) %></div>
      <div><%= link_to "<i class='fa fa-signal fa-lg'></i>Emissions".html_safe, profile_footprints_path(@user.profile) %></div>
      <div><%= link_to "<i class='fa fa-trophy fa-lg'></i>Challenges".html_safe, profile_profile_challenges_path(@user.profile) %></div>
    </td> 
    <!-- left -->

    <!-- center -->
    <td class="nav-section">
      <div id="home-logo"><%= link_to image_tag("nu_color_logo.svg"), root_path %></div>
    </td>
    <!-- center -->

    <!-- right -->
    <td class="nav-section">
      <div id="search-form">
      <%= form_tag(profile_search_path(@user.profile), method: :post) do %>
        <div id="search-input"><%= text_field_tag(:query, params[:query], placeholder: "Search...") %></div>
        <div id="search-submit"><%= button_tag("<i class='fa fa-search fa-lg'></i>".html_safe) %></div>
      <% end %> 
      </div>  <!-- search-form -->
      
      <div class="dropdown-menu-button right-side"><%= button_tag "<i class='fa fa-user fa-2x'></i><i class='fa fa-caret-down fa-lg'></i>".html_safe %></div>
    </td>
    <!-- right -->

  </tr> <!-- nav-items -->
</table> <!-- nav-bar top-nav -->

<!-- dropdown menu -->
<div class="dropdown-menu">
  <%= render partial: "dropdown_menu/dropdown_menu", locals: {user: @user} %>
</div>