<table class="nav-bar top-nav">
  <tr class="nav-items">
    
    <!-- left side -->
    <% if @profile && !@new_profile %>
      <td class="nav-section">
        <div><%= link_to "Feed", profile_newsfeed_items_path(@user.profile) %></div>
        <div><%= link_to "Emissions", profile_footprints_path(@user.profile) %></div>
        <div><%= link_to "Challenges", profile_profile_challenges_path(@user.profile) %></div>
      </td> <!-- nav-section -->
    <% end %>

    <!-- center -->
    <td class="nav-section">
      <div class="home-logo"><%= link_to image_tag("nu_color_logo.svg"), root_path %></div>
    </td> <!-- nav-section -->

    <!-- right side -->
    <% if @profile && !@new_profile %>
      <td class="nav-section">
        <div id="search-form">
        <%= form_tag(profile_search_path(@user.profile), method: :post) do %>
          <div id="search-input"><%= text_field_tag(:query, params[:query]) %></div>
          <div id="search-submit"><%= submit_tag("Search") %></div>
        <% end %> 
        </div>  <!-- search-form -->
        
        <div class="dropdown-menu-button right-side"><%= button_tag "Menu" %></div>
      </td> <!-- nav-section -->
    <% end %> <!-- if logged in -->

  </tr> <!-- nav-items -->
</table> <!-- nav-bar top-nav -->

<!-- dropdown menu -->
<% if @profile && !@new_profile %>
<div class="dropdown-menu">
  <%= render partial: "dropdown_menu/dropdown_menu", locals: {user: @user} %>
</div>
<% end %>