<div class="nav-bar top-nav">
  <ul class="nav-items">
    <% if session[:user_id] %>
      <li class="left-side"><%= link_to "Feed", profile_newsfeed_items_path(@user.profile) %></li>
      <li class="left-side"><%= link_to "Stats", profile_stats_path(@user.profile) %></li>
      <li class="left-side"><%= link_to "Habits", profile_habits_path(@user.profile) %></li>
    <% end %>
    <li class="home-logo"><%= link_to image_tag("nu_color_logo.svg"), root_path %></li>  
    <li class="right-side"><%= link_to "About", about_general_path %></li>
    <% if @logged_in %>
      <li class="right-side"><%= link_to "Logout", logout_path, method: :delete %></li>
      <li class="right-side"> <!-- Search form -->
        <div id="search-form">
        <%= form_tag(profile_search_path(@user.profile), method: :post) do %>
          <div id="search-input"><%= text_field_tag(:query, params[:query]) %></div>
          <div id="search-submit"><%= submit_tag("Search") %></div>
        <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>