<div class="top-nav">
  <ul class="nav-items">
    <li><%= link_to image_tag("nu_color.svg"), root_path %></li>  
    <li><%= link_to "About", about_general_path %></li>
    <% if @logged_in %>
      <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <li> <!-- Search form -->
        <div id="search-form">
        <%= form_tag(search_path, method: :post) do %>
          <div id="search-input"><%= text_field_tag(:query, params[:query]) %></div>
          <div id="search-submit"><%= submit_tag("Search") %></div>
        <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>