<div class="nav-bar top-nav">
  <ul class="nav-items">
    
    <!-- left side -->
    <% if session[:user_id] %>
      <li class="left-side"><%= link_to "Feed", profile_newsfeed_items_path(@user.profile) %></li>
      <li class="left-side"><%= link_to "Stats", profile_stats_path(@user.profile) %></li>
      <li class="left-side"><%= link_to "Challenges", profile_profile_challenges_path(@user.profile) %></li>
    <% end %> <!-- if user_id -->

    <li class="home-logo"><%= link_to image_tag("nu_color_logo.svg"), root_path %></li>  

    <!-- right side -->
    <% if @logged_in %>
      <li class="drop-down-menu"><%= render partial: "nav_bars/drop_down_menu", locals: {user_id: @user.id} %></li>
      <li class="drop-down-menu-button"><%= button_tag "Menu" %></li>
      <li class="right-side"><%= link_to "Logout", logout_path, method: :delete %></li>
      <li class="right-side"> <!-- Search form -->
        <div id="search-form">
        <%= form_tag(profile_search_path(@user.profile), method: :post) do %>
          <div id="search-input"><%= text_field_tag(:query, params[:query]) %></div>
          <div id="search-submit"><%= submit_tag("Search") %></div>
        <% end %> 
        </div>  <!-- search-form -->
      </li>
    <% end %> <!-- if logged in -->

  </ul> <!-- nav-items -->
</div> <!-- nav-bar top-nav -->