<div class="o-wrapper">

  <div class="o-bubble o-bubble--full c-calculator-questions">
  <h1>Utilities</h1>
  <h4><%= link_to "Add or drop utilities", edit_footprint_home_energy_path(footprint_id: @footprint.id, id: @home_energy.id), class: "u-text--apricot" %></h4>
  
  <%= form_tag(url: home_energy_update_utilities_path(footprint_id: @footprint.id), method: :put) do %>
    <% @utilities.each do |utility| %>

      <div class="c-calculator-questions__q-block c-calculator-questions__q-block--utility">
      <h2 class="c-calculator-questions__q-block--utility__title"><%= utility.smart_name.capitalize %></h2>
        <%= fields_for "utilities[]", utility do |uf| %>
          
          <div class="c-calculator-questions__q-block--utility__bool">
            <p class="c-calculator-questions__q-block__prompt">Do you know how much <%= utility.smart_name %> you use?</p>
            <p class="error-message"><%= add_errors_if_any(utility, :known) %></p>

            <ul class="o-inline-list c-calculator-questions__q-block__response-list">
              <li class="o-inline-list__li">
                <%= uf.radio_button :known, "1", {checked: true, class: "c-calculator-questions__q-block__response-list__response"} %>
                <%= uf.label :known, "Yes" %>
              </li>
              <li class="o-inline-list__li">
                <%= uf.radio_button :known, "0", {class: "c-calculator-questions__q-block__response-list__response"} %>
                <%= uf.label :known, "No" %>
              </li>
            </ul>
          </div>

          <div>
            <p class="c-calculator-questions__q-block__prompt">What is the amount, in what units?</p>
            <p class="error-message">
              <%= add_errors_if_any(utility, :input_type) %>
              <%= add_errors_if_any(utility, :input_amount) %>
            </p>

            <div class="text-field-with-unit">
              <%= uf.text_field :input_amount %>
              <%= uf.select :input_type, measurement_options(utility) %>
            </div>
          </div>

        <% end %>
      </div>
    <% end %>
    <div class="submit-form">
      <%= submit_tag "Assess utilities" %>
    </div>
  <% end %>
  </div> <!-- o-bubble o-bubble--full -->

</div> <!-- o-wrapper -->
