<% if profile_started_challenges.empty? %>
  <li>No current challenges</li>
  <li><%= link_to "Start one", profile_challenges_path(profile.id) %></li>
<% else %>
  <% profile_started_challenges.each do |profile_started_challenge| %>
    <li class="c-challenges-list__li o-media">
      <%= image_tag(profile_started_challenge.image_path, class: "c-challenges-list__li__img o-media__img") %>
      <div class="o-media__bd c-challenges-list__li__bd ">
        <h3 class="c-challenges-list__li__bd__el"><%= profile_started_challenge.challenge.title %></h3>
        <p class="c-challenges-list__li__bd__el"><%= profile_started_challenge.challenge.caption %></p>
        <p class="c-challenges-list__li__bd__el">Nu Score <span class="o-point-circle o-point-circle--small"><%= profile_started_challenge.challenge.points %></span></p>
        <%= render partial: "profiles/challenges/profile_started_challenges/challenge_progress_bar", locals: {psc: profile_started_challenge} %>
        
      </div>
      <div class="o-media__ext c-challenges-list__li__ext">
        <%= challenge_complete_or_check_in_link(profile_started_challenge) %>
        <h5>
          <%= link_to "View", profile_profile_started_challenge_path(profile_id: profile.id, id: profile_started_challenge.id), class: "u-text--apricot" %>
        </h5>
        
      </div>
    </li>
  <% end %>
<% end %>