<div class="o-wrapper">

  <div class="c-challenge__heading">
    <%= button_to "Back to Challenges", profile_profile_started_challenges_path(@profile), method: :get, class: "u-button--orange" %>
  </div>

  <div class="o-bubble o-bubble--full o-media">
    <%= image_tag(@profile_started_challenge.challenge.image_path, class: "o-media__img c-challenge__img") %>

    <div class="o-media__bd c-challenge__bd">
      <h2 class="c-challenge__bd__el u-text--edward"><%= @profile_started_challenge.challenge.title %></h2>
      <p class="c-challenge__bd__el"><%= @profile_started_challenge.challenge.caption %></p>
      <p class="c-challenge__bd__el">
        <%= @profile_started_challenge.challenge.description %>
      </p>
      <%= button_to "See More Challenges", profile_challenges_path(@profile), method: :get %>
      <h6><i class="fa fa-check u-text--wild-willow"></i> Added to current challenges</h6>
    </div>

    <div class="o-media__ext c-challenge__ext">
      <%= render partial: "profiles/challenges/info", locals: {challenge: @profile_started_challenge.challenge} %>
    </div>
  </div> <!-- o-bubble o-bubble--full -->

</div> <!-- o-wrapper -->