<div class="o-wrapper">

  <div class="o-bubble o-bubble--full">
    
    <h2>Account</h2>

    <div class="o-wrapper--narrow">
    <%= form_for @user do |f|%>
  
      <%= f.text_field :email, autofocus: true, placeholder: "Email" %>

      <%= f.password_field :password, placeholder: "Password" %>
      
      <ul class="o-inline-list">
        <li class="o-inline-list__li">
          <%= f.submit "Edit email" %>
        </li>
        <li class="o-inline-list__li">
          <%= link_to "Edit password", user_edit_password_path(@user) %>
        </li>
      </ul>
    <% end %> <!-- form -->
    </div>
  </div> <!-- o-bubble o-bubble--full -->
  
</div> <!-- o-wrapper  -->