<div class="wrapper centered-content">

  <div class="component">
    <h2>Edit Password</h2>
    <%= form_tag user_update_password_path, method: :post %>

    <div class="text-form-with-errors">
      <%= password_field_tag('password[current]') %>
      <p class="form-label">
        Current Password
        <span class="error-message"><%= flash[:current_password] %></span></p>
    </div>

    <div class="text-form-with-errors">
      <%= password_field_tag('password[new]') %>
      <p class="form-label">
        New Password
        <span class="error-message"><%= flash[:new_password] %></span></p>
    </div>

    <div class="text-form-with-errors">
      <%= password_field_tag('password[confirm_new]') %>
      <p class="form-label">
        Confirm New Password
        <span class="error-message"><%= flash[:confirm_new_password] %></span></p>
    </div>
    
    <div class="submit-button">
      <%= submit_tag "Change Password" %>
    </div>
  </div> <!-- component -->
  
</div> <!-- wrapper centered-content -->