<div class="o-wrapper">

  <div class="o-bubble o-bubble--full">
    <h2>Account</h2>
    <%= form_for @user do |f|%>
    <%= flash[:error] %>
    <div class="edit-user-form">
      <div class="text-form-with-errors">
        <%= f.text_field :email, autofocus: true %>
        <p class="form-label">
          <%= f.label :email %>
          <span class="error-message"><%= add_errors_if_any(@user, :email) %></span>
        </p>
      </div>

      <div class="text-form-with-errors">
        <%= f.password_field :password %>
        <p class="form-label">
          <%= f.label :password %>
          <span class="error-message"><%= add_errors_if_any(@user, :password) %></span>
        </p>
      </div>
      
      <div class="submit-or-password">
        <div class="submit-form">
          <%= f.submit "Edit email" %>
        </div>
        <div class="change-password-link">
          <%= link_to "Edit password", user_edit_password_path(@user) %>
        </div>
      </div>
    </div>
    <% end %> <!-- form -->
  </div> <!-- o-bubble o-bubble--full -->
  
</div> <!-- o-wrapper  -->