<div class="o-wrapper">

  <div class="o-bubble o-bubble--full o-bubble--centered-content">
    <h2>Join the fight!</h2>
    <%= form_for @user do |f|%>
    <div class="new-user-form">
      <div class="text-form-with-errors">
        <%= f.text_field :email, autofocus: true, placeholder: "Email" %>
      </div>
      <div class="text-form-with-errors">
        <%= f.password_field :password, placeholder: "Password" %>
      </div>
      <div class="text-form-with-errors">
        <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
      </div>
      <div class="submit-form">
        <%= f.submit "Join up!" %>
      </div>
    </div>
    <% end %> <!-- form -->
  </div> <!-- o-bubble o-bubble--full -->
  
</div> <!-- o-wrapper -->