<div class="o-wrapper">

  <div class="o-bubble o-bubble--full o-bubble--centered-content">
    
    <h1>Welcome to Nu</h1>

    <h3>Log In</h3>

    <div class="o-wrapper--narrow">
    <%= form_tag(login_path, method: :post) %>
    
    <%= text_field_tag(:email, params[:email], autofocus: true, placeholder: "Email") %>
  
    <%= password_field_tag(:password, params[:password], placeholder: "Password") %>
  
    <% if flash[:error] %>
      <h4 class="flash-error"><%= flash[:error] %></h4>
    <% end %>

    <%= submit_tag "Log In" %>
    <%= link_to "Sign Up!", new_user_path, class: "sign-up-link" %>
    </div> <!-- o-wrapper--narrow -->

  </div> <!-- o-bubble o-bubble--full -->

</div> <!-- o-wrapper -->