<div class="wrapper centered-content">
  <div class="component log-in-form">
    <h1>Welcome to Nu.world!</h1>
    <h3>Log In</h3>
    <%= form_tag(login_path, method: :post) %>
    <div class="text-form-with-errors">
      <%= text_field_tag(:email, params[:email], autofocus: true) %>
      <span class="form-label"><%= label_tag(:email) %></span>
    </div>
    <div class="text-form-with-errors">
      <%= password_field_tag(:password, params[:password]) %>
      <span class="form-label"><%= label_tag(:password) %></span>
    </div>
    <% if flash[:error] %>
      <h4 class="flash-error"><%= flash[:error] %></h4>
    <% end %>
    <div class="submit-button">
      <%= submit_tag "Log In" %>
      <%= link_to "Sign Up!", new_user_path, class: "sign-up-link" %>
    </div>
  </div>
</div>
