<div class="o-wrapper">

  <div class="o-bubble o-bubble--full c-calculator-questions">
    <%= form_for(@air_travel, url: transportation_air_travel_path(transportation_id: @transportation.id, id: @air_travel.id), method: :put) do |f| %>

    <p>How many times have you flown over the past year in each class listed below? If none, please leave as zero.</p>

    <div>
      <%= f.text_field :d_economy, {autofocus: true, value: "0", class: "u-tf--short-margin"} %>
      <p>
        <%= f.label :d_economy, "Domestic economy" %>
      </p>
    </div>

    <div>
      <%= f.text_field :d_business, {value: "0", class: "u-tf--short-margin"} %>
      <p>
        <%= f.label :d_business, "Domestic business" %>
      </p>
    </div>

    <div>
      <%= f.text_field :i_economy, {value: "0", class: "u-tf--short-margin"} %>
      <p>
        <%= f.label :i_economy, "International economy" %>
      </p>
    </div>

    <div>
      <%= f.text_field :i_premium_economy, {value: "0", class: "u-tf--short-margin"} %>
      <p>
        <%= f.label :i_premium_economy, "International premium economy" %>
      </p>
    </div>

    <div>
      <%= f.text_field :i_business, {value: "0", class: "u-tf--short-margin"} %>
      <p>
        <%= f.label :i_business, "International business" %>
      </p>
    </div>

    <div>
      <%= f.text_field :i_first, {value: "0", class: "u-tf--short-margin"} %>
      <p>
        <%= f.label :i_first, "International first class" %>
      </p>
    </div>

    <div>
      <%= f.submit "Next question" %>
    </div>

    <% end %> <!-- form -->
  </div> <!-- o-bubble o-bubble--full -->

</div> <!-- o-wrapper -->