<div class="beta-page">
  <div class="beta-sign-up">
    <h2>Welcome to the fight.</h2>

    <div class="beta-sign-up-form">
    <%= form_for(@beta_user, url: create_beta_user_path) do |f| %>  

        <div class="text-form-with-errors inline-field">
          <%= f.text_field :first_name, class: "name-input", autofocus: true %>
          <p class="form-label">
            <%= f.label :first_name, "First Name" %>
            <span class="error-message"><%= add_errors_if_any(@beta_user, :first_name) %></span>
          </p>
        </div>

        <div class="text-form-with-errors inline-field">
          <%= f.text_field :last_name, class: "name-input" %>
          <p class="form-label">
            <%= f.label :last_name, "Last Name" %>
            <span class="error-message"><%= add_errors_if_any(@beta_user, :last_name) %></span>
          </p>
        </div>

        <div class="text-form-with-errors">
          <%= f.text_field :email %>
          <p class="form-label">
            <%= f.label :email, "Email" %>
            <span class="error-message"><%= add_errors_if_any(@beta_user, :email) %></span>
          </p>
        </div>

        <div class="select-form-with-errors">
          <p class="form-label"><%= f.label :communicate, "On a scale of one to ten, how likely are you to communicate with us about bugs, give feedback, and express features you enjoy or would like to see?" %></p>
          <p class="error-message"><%= add_errors_if_any(@beta_user, :communicate) %></p>
          <%= f.select(:communicate, options_for_select([*1..10]), {prompt: "Select"}) %>
        </div>

        <div class="text-form-with-errros">
          <%= f.text_area(:explanation, rows: 9) %>
          <p class="form-label"><%= f.label :explanation, "Can you briefly tell us why you think you would make for a great first user on Nu.world?" %></p>
          <p class="error-message"><%= add_errors_if_any(@beta_user, :explanation) %></p>
        </div>

      <div class="submit-button">
        <%= f.submit "Sign Up for Beta" %>
      </div>

    <% end %>
    </div> <!-- beta-sign-up-form -->
  </div> <!-- beta-sign-up -->
</div> <!-- beta-page -->