<div class="o-wrapper">
  
  <div class="c-challenges-list__heading">
    <h4 class="c-challenges-list__heading__left">
      Challenges    
    </h4>
  </div>

  <div class="o-bubble o-bubble--full">
    <ul class="c-challenges-list">
    <% @challenges.each do |challenge| %>
      <li class="c-challenges-list__li o-media">
        <%= image_tag(challenge.image_path, class: "o-media__img c-challenges-list__li__img") %>
        <div class="o-media__bd c-challenges-list__li__bd c-challenges-list__li__bd--push-down">
          <h3 class="c-challenges-list__li__bd__el"><%= challenge.title %></h3>
          <p class="c-challenges-list__li__bd__el"><%= challenge.caption %></p>
        </div>
        <div class="o-media__ext c-challenges-list__li__ext">
          <p>Nu Score</p>
          <p class="o-point-circle o-point-circle--small"><%= challenge.points %></p>
          <p><%= link_to "Check it out", profile_challenge_path(profile_id: @profile.id, id: challenge.id) %></p>
        </div>
      </li>
    <% end %>
    </ul>
  </div> <!-- o-bubble o-bubble--full -->
  
</div> <!-- o-wrapper -->