<div class="o-wrapper">

  <div class="c-challenge__heading">
    <%= button_to "Back to Challenges", profile_challenges_path(@profile), method: :get, class: "u-button--orange" %>
  </div>

  <div class="o-bubble o-bubble--full o-media">
    <%= image_tag(@challenge.image_path, class: "o-media__img c-challenge__img") %>

    <div class="o-media__bd c-challenge__bd">
      <h2 class="c-challenge__bd__el u-text--edward"><%= @challenge.title %></h2>
      <p class="c-challenge__bd__el"><%= @challenge.caption %></p>
      <p class="c-challenge__bd__el">
        <%= @challenge.description %>
      </p>
      <%= button_to "Add Challenge", profile_profile_started_challenges_path(profile_id: @profile.id, profile_started_challenge: {challenge_id: @challenge.id, progress_category: @challenge.progress_category}), method: :post %>
    </div>

    <div class="o-media__ext c-challenge__ext">
      <%= render partial: "profiles/challenges/info", locals: {challenge: @challenge} %>
    </div>
  </div> <!-- o-bubble o-bubble--full -->

</div> <!-- o-wrapper -->