<div class="o-wrapper">

  <div class="o-bubble o-bubble--full c-calculator-questions">
    <%= form_for(@diet, url: footprint_diet_path(
    footprint_id: @footprint.id, id: @diet.id), method: :put) do |f| %>
    
    <h2>What term best describes your diet?</h2>
    <p class="error-message"><%= add_errors_if_any(@diet, :diet_type) %></p>
    <ul class="c-calculator-questions__q-block__reponse-list">
      <li class="c-calculator-questions__q-block__response-list__li--fix-width">
        <%= f.radio_button :diet_type, :typical, class: "c-calculator-questions__q-block__response-list__response" %>
        <%= f.label :diet_type, 'Average' %>
      </li>
      <li class="c-calculator-questions__q-block__response-list__li--fix-width">
        <%= f.radio_button :diet_type, :meat_heavy, class: "c-calculator-questions__q-block__response-list__response" %>
        <%= f.label :diet_type, 'Meat heavy' %>
      </li>
      <li class="c-calculator-questions__q-block__response-list__li--fix-width">
        <%= f.radio_button :diet_type, :no_beef, class: "c-calculator-questions__q-block__response-list__response" %>
        <%= f.label :diet_type, 'No beef' %>
      </li>
      <li class="c-calculator-questions__q-block__response-list__li--fix-width">
        <%= f.radio_button :diet_type, :pescatarian, class: "c-calculator-questions__q-block__response-list__response" %>
        <%= f.label :diet_type, 'Pescatarian' %>
      </li>
      <li class="c-calculator-questions__q-block__response-list__li--fix-width">
        <%= f.radio_button :diet_type, :vegetarian, class: "c-calculator-questions__q-block__response-list__response" %>
        <%= f.label :diet_type, 'Vegetarian' %>
      </li>
      <li class="c-calculator-questions__q-block__response-list__li--fix-width">
        <%= f.radio_button :diet_type, :vegan, class: "c-calculator-questions__q-block__response-list__response" %>
        <%= f.label :diet_type, 'Vegan' %>
      </li>
    </ul>
    <div class="submit-form">
      <%= f.submit 'Next question' %>
    </div>

    <% end %> <!-- form -->
  </div> <!-- o-bubble o-bubble--full -->
  
</div> <!-- o-wrapper -->