<div class="wastes-new">
  <%= form_for(@waste_profile, url: footprint_waste_profiles_path(footprint_id: @footprint.id), method: :post) do |f| %>
  <div class="waste-form">

    <div class="question-and-response">
      <p class="form-question">Do you recycle glass?</p>
      <p class="error-message"><%= add_errors_if_any(@waste_profile, :glass) %></p>

      <ul class="radio-button-list inline-list">
        <li>
          <%= f.radio_button :glass, true, {checked: true} %>
          <%= f.label :glass, "Yes" %>
        </li>
        <li>
          <%= f.radio_button :glass, false %>
          <%= f.label :glass, "No" %>
        </li>
      </ul>
    </div> <!-- question-and-response -->

    <div class="question-and-response">
      <p class="form-question">Do you recycle metal?</p>
      <p class="error-message"><%= add_errors_if_any(@waste_profile, :metal) %></p>

      <ul class="radio-button-list inline-list">
        <li>
          <%= f.radio_button :metal, true, {checked: true} %>
          <%= f.label :metal, "Yes" %>
        </li>
        <li>
          <%= f.radio_button :metal, false %>
          <%= f.label :metal, "No" %>
        </li>
      </ul>
    </div> <!-- question-and-response -->

    <div class="question-and-response">
      <p class="form-question">Do you recycle plastic?</p>
      <p class="error-message"><%= add_errors_if_any(@waste_profile, :plastic) %></p>

      <ul class="radio-button-list inline-list">
        <li>
          <%= f.radio_button :plastic, true, {checked: true} %>
          <%= f.label :plastic, "Yes" %>
        </li>
        <li>
          <%= f.radio_button :plastic, false %>
          <%= f.label :plastic, "No" %>
        </li>
      </ul>
    </div> <!-- question-and-response -->

    <div class="question-and-response">
      <p class="form-question">Do you recycle newspaper?</p>
      <p class="error-message"><%= add_errors_if_any(@waste_profile, :newspaper) %></p>

      <ul class="radio-button-list inline-list">
        <li>
          <%= f.radio_button :newspaper, true, {checked: true} %>
          <%= f.label :newspaper, "Yes" %>
        </li>
        <li>
          <%= f.radio_button :newspaper, false %>
          <%= f.label :newspaper, "No" %>
        </li>
      </ul>
    </div> <!-- question-and-response -->

    <div class="question-and-response">
      <p class="form-question">Do you recycle magazines?</p>
      <p class="error-message"><%= add_errors_if_any(@waste_profile, :magazines) %></p>

      <ul class="radio-button-list inline-list">
        <li>
          <%= f.radio_button :magazines, true, {checked: true} %>
          <%= f.label :magazines, "Yes" %>
        </li>
        <li>
          <%= f.radio_button :magazines, false %>
          <%= f.label :magazines, "No" %>
        </li>
      </ul>
    </div> <!-- question-and-response -->

    <div class="submit-form">
      <%= f.submit 'Next question' %>
    </div>

  </div> <!-- waste-form -->
  <% end %>
  
</div>