<div class="habit-index">
  <h1>Your Habits Overview</h1>

  <div class="habit-section">
    <h2>Started Habits</h2>
    <% if @started_habits.empty? %>
      <h3>You have no habits in progress</h3>
    <% else %>
      <% @started_habits.each do |habit| %>
        <li class="improvement-overview">
          <h3><%= habit.title %> <span><%= habit.progress_category %></span></h3>
          <h4><%= habit.caption %></h4>
          <h4><%= link_to "View Habit", profile_habit_path(profile_id: @profile.id, id: habit.id) %></h4>
        </li>
      <% end %>
    <% end %>
  </div> <!-- habit-section -->

  <div class="habit-section">
    <h2>Completed Habits</h2>
    <% if @completed_habits.empty? %>
      <h3>You have no completed habits</h3>
    <% else %>
      <% @completed_habits.each do |habit| %>
        <li class="improvement-overview">
          <h3><%= habit.title %> <span><%= habit.progress_category %></span></h3>
          <h4><%= habit.caption %></h4>
          <h4><%= link_to "View Habit", profile_habit_path(profile_id: @profile.id, id: habit.id) %></h4>
        </li>
      <% end %>
    <% end %>
  </div> <!-- habit-section -->

  <div class="habit-section">
    <h2>Remaining Habits</h2>
    <% if @habits.empty? %>
      <h3>You have no more habits to complete! Congrats!</h3>
    <% else %>
      <% habits.each do |habit| %>
        <li class="improvement-overview">
          <h3><%= habit.title %> <span><%= habit.progress_category %></span></h3>
          <h4><%= habit.caption %></h4>
          <h4><%= link_to "View Habit", profile_habit_path(profile_id: @profile.id, id: habit.id) %></h4>
        </li>
      <% end %>
    <% end %>
  </div> <!-- habit-section -->
</div> <!-- habit-index   -->