<div class="o-wrapper">
  <div class="c-search-results">
    
    <h2 class="c-search-results__heading">You searched for "<%= @query %>"</h2>

    <% unless @results[:profiles].empty? %>
      <div class="c-search-results__sec">
        
        <% @results[:profiles].each do |profile| %>
          <%= react_component 'ProfileOverview', profilePath: profile_path(profile), profileImg: profile.profile_photo, subscriptionSummary: subscription_summary(@profile, profile), profileName: profile.full_or_abbrev_name, currentProfileID: @profile.id, targetProfileID: profile.id %>
        <% end %> <!-- profiles each -->

      </div> <!-- c-search-results__sec -->
    <% end %> <!-- profiles empty check -->

    <% unless @results[:challenges].empty? %>
      <div class="c-search-results__sec">
        
        <% @results[:challenges].each do |challenge| %>
          <div class="c-search-results__sec__challenge">
            <%= image_tag(challenge.image_path, class: "o-media__img c-challenges-list__li__img") %>
            <div class="o-media__bd c-challenges-list__li__bd c-challenges-list__li__bd--push-down">
              <h3 class="c-challenges-list__li__bd__el"><%= challenge.title %></h3>
              <p class="c-challenges-list__li__bd__el"><%= challenge.caption %></p>
            </div>
            <div class="o-media__ext c-challenges-list__li__ext">
              <p class="c-challenges-list__li__ext__el">Nu Score</p>
              <p class="o-point-circle o-point-circle--small c-challenges-list__li__ext__el"><%= challenge.points %></p>
              <p class="c-challenges-list__li__ext__el"><%= link_to "Check it out", profile_challenge_path(profile_id: @profile.id, id: challenge.id) %></p>
            </div>
          </div>
        <% end %> <!-- challenges each -->

      </div> <!-- c-search-results__sec -->
    <% end %> <!-- challenges empty check -->

    <% unless @results[:newsfeed_items].empty? %>
      <div class="c-search-results__sec">
        
        <% @results[:newsfeed_items].each do |post| %>
        <div class="o-bubble o-bubble--no-pad c-newsfeed-list__item">
      
      <div class="c-newsfeed-list__item--padding">
      <% if post.source_type == "profile" %>
        <%= render partial: "profiles/newsfeed_items/native_item", locals: {profile: @profile, item: post} %> 
      <% else %>
        <%= render partial: "profiles/newsfeed_items/feed_item", locals: {profile: @profile, item: post} %>
      <% end %>

      <ul class="o-inline-list c-social-overview">
        <li class="o-inline-list__li c-social-overview__likes c-social-overview__li">
          <%= like_button(post, @profile) %> <span class="u-text--edward"><%= like_number(post) %></span>
        </li>
        <li class="o-inline-list__li c-social-overview__comments c-social-overview__li">
          <%= comment_button(post, @profile) %> <span class="u-text--edward"><%= comment_number(post) %></span>
        </li>
      </ul>
    </div> <!-- c-newsfeed-list-item--padding -->

      <ul class="c-comments-list">
        <%= render partial: "profiles/comments/section_overview", locals: {newsfeed_item: post, profile: @profile} %>
      </ul>

    </div>



        <% end %>

      </div>
    <% end %>

  </div> <!-- c-search-results -->
</div> <!-- o-wrapper -->