<div class="o-wrapper">
  
  <div class="o-bubble o-bubble--full c-calculator-questions">
    <%= form_for(@waste, url: footprint_waste_path(footprint_id: @footprint.id, id: @waste.id), method: :put) do |f| %>

    <div class="c-calculator-questions__q-block">
      <p class="c-calculator-questions__q-block__prompt">Do you recycle glass?</p>
      <p class="error-message"><%= add_errors_if_any(@waste, :glass) %></p>

      <ul class="o-inline-list">
        <li class="o-inline-list__li">
          <%= f.radio_button :glass, true, {checked: true, class: "c-calculator-questions__q-block__response-list__response"} %>
          <%= f.label :glass, "Yes" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :glass, false,class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :glass, "No" %>
        </li>
      </ul>
    </div> <!-- c-calculator-questions__q-block -->

    <div class="c-calculator-questions__q-block">
      <p class="c-calculator-questions__q-block__prompt">Do you recycle metal?</p>
      <p class="error-message"><%= add_errors_if_any(@waste, :metal) %></p>

      <ul class="o-inline-list">
        <li class="o-inline-list__li">
          <%= f.radio_button :metal, true, {checked: true, class: "c-calculator-questions__q-block__response-list__response"} %>
          <%= f.label :metal, "Yes" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :metal, false,class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :metal, "No" %>
        </li>
      </ul>
    </div> <!-- c-calculator-questions__q-block -->

    <div class="c-calculator-questions__q-block">
      <p class="c-calculator-questions__q-block__prompt">Do you recycle plastic?</p>
      <p class="error-message"><%= add_errors_if_any(@waste, :plastic) %></p>

      <ul class="o-inline-list">
        <li class="o-inline-list__li">
          <%= f.radio_button :plastic, true, {checked: true, class: "c-calculator-questions__q-block__response-list__response"} %>
          <%= f.label :plastic, "Yes" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :plastic, false,class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :plastic, "No" %>
        </li>
      </ul>
    </div> <!-- c-calculator-questions__q-block -->

    <div class="c-calculator-questions__q-block">
      <p class="c-calculator-questions__q-block__prompt">Do you recycle newspaper?</p>
      <p class="error-message"><%= add_errors_if_any(@waste, :newspaper) %></p>

      <ul class="o-inline-list">
        <li class="o-inline-list__li">
          <%= f.radio_button :newspaper, true, {checked: true, class: "c-calculator-questions__q-block__response-list__response"} %>
          <%= f.label :newspaper, "Yes" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :newspaper, false,class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :newspaper, "No" %>
        </li>
      </ul>
    </div> <!-- c-calculator-questions__q-block -->

    <div class="c-calculator-questions__q-block">
      <p class="c-calculator-questions__q-block__prompt">Do you recycle magazines?</p>
      <p class="error-message"><%= add_errors_if_any(@waste, :magazines) %></p>

      <ul class="o-inline-list">
        <li class="o-inline-list__li">
          <%= f.radio_button :magazines, true, {checked: true, class: "c-calculator-questions__q-block__response-list__response"} %>
          <%= f.label :magazines, "Yes" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :magazines, false,class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :magazines, "No" %>
        </li>
      </ul>
    </div> <!-- c-calculator-questions__q-block -->

    <div>
      <%= f.submit 'Next question' %>
    </div>

    <% end %> <!-- form -->
  </div> <!-- o-bubble o-bubble--full -->
  
</div> <!-- o-wrapper -->