<%= image_tag(comment.profile.profile_photo, class: "o-media__img o-img--tiny o-img--round c-comments-list__li__img") %>

<div class="o-media__bd c-comments-list__li__bd">
  <%= link_to comment.profile.full_name, profile_path(comment.profile) %>
  <%= comment.text %>
  <% if comment.profile_id == profile.id %>
  <div class="c-comments-list__li__bd__destroy">
    <%= link_to "x", newsfeed_item_comment_path(newsfeed_item_id: comment.newsfeed_item.id, id: comment.id), method: :delete, data: {confirm: "Delete comment?"} %>
  </div>
  <% end %>
</div>

<div class="o-media__ext c-comments-list__comment__pd u-text--edward"><%= comment.time_since_creation %></div>