<div class="o-wrapper">
  
    <div class="o-bubble o-bubble--full c-calculator-questions">
    <%= form_for(@home_energy, url: footprint_home_energy_path(footprint_id: @footprint.id, id: @home_energy.id), method: :put) do |f| %>

    <p>Which of the following utilities do you use in your place of residence?</p>

    <ul class="c-calculator-questions__q-block__response-list">
    <%= fields_for :utilities do |utility| %>
      
      <li>
        <%= utility.check_box :natural_gas, {class: "c-calculator-questions__q-block__response-list__response"}, '1', false %>
        <%= utility.label :natural_gas, "Natural gas" %>
      </li>
      
      <li>
        <%= utility.check_box :fuel_oil, {class: "c-calculator-questions__q-block__response-list__response"}, '1', false %>
        <%= utility.label :fuel_oil, "Fuel oil" %>
      </li>
      
      <li>
        <%= utility.check_box :propane, {class: "c-calculator-questions__q-block__response-list__response"}, '1', false %>
        <%= utility.label :propane, "Propane" %>
      </li>
      
      <li>
        <%= utility.check_box :electricity, {class: "c-calculator-questions__q-block__response-list__response"}, '1', false %>
        <%= utility.label :electricity, "Electricity" %>
      </li>    

    <% end %>
    </ul>

    <div>
      <%= f.submit "Assess utilities" %>
    </div>

    <% end %> <!-- form -->
  </div> <!-- o-bubble o-bubble--full -->

</div> <!-- o-wrapper -->