<div class="o-wrapper">

  <div class="o-bubble o-bubble--full c-calculator-questions">
    <%= form_for(@public_transportation, url: transportation_public_transportation_path(transportation_id: @transportation.id, id: @public_transportation.id), method: :put) do |f| %>
      
    <div class="c-calculator-questions__q-block">
      <p class="c-calculator-questions__q-block__prompt">Do you use public transportation?</p>
      <ul class="o-inline-list">
        <li class="o-inline-list__li">
          <%= f.radio_button :use, "1", {checked: true, class: "c-calculator-questions__q-block__response-list__response"} %>
          <%= f.label :use, "Yes" %>
        </li>
        <li class="o-inline-list__li">
          <%= f.radio_button :use, "0", class: "c-calculator-questions__q-block__response-list__response" %>
          <%= f.label :use, "No" %>
        </li>
      </ul>
    </div>

    <p>If you use public transportation, how many miles a month do you use each of the following?</p>

    <div>
      <%= f.text_field :metro, {value: "0", class: "u-tf--short-margin"} %>
      <p>
      <%= f.label :metro %>
      </p>
    </div>

    <div>
      <%= f.text_field :commuter, {value: "0", class: "u-tf--short-margin"} %>
      <p>
      <%= f.label :commuter %>
      </p>
    </div>

    <div>
      <%= f.text_field :inter_city, {value: "0", class: "u-tf--short-margin"} %>
      <p>
      <%= f.label :inter_city %>
      </p>
    </div>

    <div>
      <%= f.text_field :bus, {value: "0", class: "u-tf--short-margin"} %>
      <p>
      <%= f.label :bus %>
      </p>
    </div>

    <div>
      <%= f.text_field :taxi, {value: "0", class: "u-tf--short-margin"} %>
      <p>
      <%= f.label :taxi %>
      </p>
    </div>

    <div>
      <%= f.submit "Next question" %>
    </div>
    

  <% end %> <!-- form -->
  </div> <!-- o-bubble o-bubble--full -->

</div> <!-- o-wrapper -->