<% if profile_completed_challenges.empty? %>
  <li>No completed challenges</li>
<% else %>
  <% profile_completed_challenges.each do |profile_completed_challenge| %>
    <li class="c-challenges-list__li o-media">
      <%= image_tag(profile_completed_challenge.image_path, class: "c-challenges-list__li__img o-media__img") %>
      <div class="o-media__bd c-challenges-list__li__bd c-challenges-list__li__bd--push-down">
        <h3 class="c-challenges-list__li__bd__el"><%= profile_completed_challenge.challenge.title %></h3>
        <p  class="c-challenges-list__li__bd__el">Completed <%= profile_completed_challenge.completion_date %></p>
      </div>
      <div class="o-media__ext c-challenges-list__li__ext">
        <h4><%= link_to "View", profile_profile_completed_challenge_path(profile_id: @profile.id, id: profile_completed_challenge.id), class: "u-text--apricot" %></h4>
        <p class="u-text--wild-willow">Got <%= profile_completed_challenge.challenge.points %>pts</p>
      </div>
    </li>
  <% end %>
<% end %>