<div class="o-wrapper">
  
  <div class="c-challenges-list__heading c-challenges-list__heading--push-down">
    <h4 class="c-challenges-list__heading__left">
      <%= button_to "Back to Current Challenges", profile_profile_started_challenges_path(profile_id: @profile.id), method: :get, class: "u-button--orange" %>
    </h4>
    <h5 class="c-challenges-list__heading__right">
      <%= link_to "View Completed Challenges", profile_profile_completed_challenges_path(profile_id: @profile.id), class: "u-text--apricot" %>
    </h5>  
  </div>

  <div class="o-bubble o-bubble--full c-challenge-update">
    
    <div class="c-challenge-update__title o-media">
      <%= image_tag(@profile_started_challenge.challenge.image_path, class: "c-challenge-update__title__img o-media__img") %>
      <h4 class="o-media__bd c-challenge-udpate__title__bd"><%= @profile_started_challenge.challenge.title %></h4>
    </div>

    <div class="c-challenge-update__body">
      
      <h2>Tell us about your experience.</h2>

      <%= form_for(@profile_completed_challenge, url: profile_started_challenge_profile_completed_challenges_path(@profile_started_challenge.id), method: :post) do |f| %>
        
        <%= f.text_area :entry, rows: 5, placeholder: "Thoughts?", class: "c-challenge-update__text-entry" %>
        
        <p>
          <ul class="o-inline-list">
            <li class="o-inline-list__li"><%= f.submit "Complete" %></li>
            <li class="o-inline-list__li"><%= f.button "Complete and share", name: "share", value: true %></li>
          </ul>
          
        </p>
        
      <% end %>

    </div>
  </div> <!-- o-bubble o-bubble--full -->

</div> <!-- o-wrapper -->