<div class="o-wrapper">

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Account</h1>
    <h3>Email: <%= @profile.user.email %></h3>
    <h3><%= link_to "Edit email or password", edit_user_path(@profile.user) %></h3>
  </div>

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Privacy</h1>
    <%= render partial: "profiles/settings/privacy_settings/edit_form", locals: {privacy_setting: @settings[:privacy]} %>
  </div>

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Notifications</h1>
    <%= render partial: "profiles/settings/notification_settings/edit_form", locals: {notification_setting: @settings[:notification]} %>
  </div>

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Blocked Profiles</h1>
    <%= render partial: "profiles/profile_blocked_profiles/blocked_profiles_overview", locals: {profile: @profile} %>
  </div>

</div> <!-- o-wrapper --> 