<div class="o-wrapper">

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Account</h1>
    <h3>Email: <%= @profile.user.email %></h3>
    <h3><%= link_to "Edit email or password", edit_user_path(@profile.user) %></h3>
  </div>

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Privacy</h1>
    <%= render partial: "profiles/settings/privacy_settings/edit_form", locals: {privacy_setting: @settings[:privacy]} %>
  </div>

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Sharing</h1>
    <p class="section-description">What do you post to your followers?</p>
    <%= render partial: "profiles/settings/sharing_settings/overview_list", locals: {sharing: @settings[:sharing]} %>
  </div>

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Blocked Profiles</h1>
    <%= render partial: "profiles/profile_blocked_profiles/blocked_profiles_overview", locals: {profile: @profile} %>
  </div>

</div> <!-- o-wrapper --> 