<div class="o-wrapper">

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Account</h1>
    <h3>Email: <%= @profile.user.email %></h3>
    <h3><%= link_to "Edit email or password", edit_user_path(@profile.user) %></h3>
  </div>

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Privacy</h1>
    <p class="section-description">Who gets to see what?</p>
    <%= render partial: "profiles/settings/privacy_settings/overview_list", locals: {privacy: @settings[:privacy]} %>
    <%= link_to "Edit privacy settings", edit_profile_privacy_setting_path(profile_id: @profile.id, id: @profile.privacy_setting.id) %>
  </div>

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Sharing</h1>
    <p class="section-description">What do you post to your followers?</p>
    <%= render partial: "profiles/settings/sharing_settings/overview_list", locals: {sharing: @settings[:sharing]} %>
    <%= link_to "Edit sharing settings", edit_profile_sharing_setting_path(profile_id: @profile.id, id: @profile.sharing_setting.id) %>
  </div>

  <div class="o-bubble c-settings-section">
    <h2 class="c-settings-section__heading">Blocked Profiles</h1>
    <%= render partial: "profiles/profile_blocked_profiles/blocked_profiles_overview", locals: {profile: @profile} %>
  </div>

</div> <!-- o-wrapper --> 