<!DOCTYPE html>
<html>
<head>
  <!-- Welcome to the Nu World Order !-->
  <!-- Yours truly, -->
  <!-- The Nu World team -->
  <title>Nu.world</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= proper_top_nav %>
  <h2><%= flash[:error] %> <%= flash[:success] %> <%= flash[:alert] %></h2>
  <div class="main-body">
    <%= yield %>
  </div>

</body>
</html>
