<!DOCTYPE html>
<html>
<head>
  <!-- Welcome to the Nu World Order !-->
  <!-- Yours truly, -->
  <!-- The Nu World team -->
  <title>NuWorld</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "nav_bars/top_nav" %>
  <h2><%= flash[:error] %></h2>
  <div class="main-body">
    <%= yield %>
  </div>

</body>
</html>
