
<!DOCTYPE html>
<html>
<head>
  <!-- Welcome to the Nu World Order !-->
  <!-- Yours truly, -->
  <!-- The Nu World team -->
  <title>Nu</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <noscript>
    <meta http-equiv="refresh" content="0;<%= no_js_path %>">
  </noscript>
</head>
<body>

  <%= proper_top_nav %>
  <div class="content <%= controller_name.gsub(/\_/, '-') %> <%= action_name.gsub(/\_/, '-') %>">
    <%= yield %>
  </div>

</body>
</html>
