<!DOCTYPE html>
<html>
<head>
  <!-- Welcome to the Nu World Order !-->
  <!-- Yours truly, -->
  <!-- The Nu World team -->
  <title>Nu.world</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram";
    UPLOADCARE_PUBLIC_KEY = "<%= ENV['uploadcare_public_key'] %>";
  </script>
  <script charset="utf-8" src="//ucarecdn.com/widget/2.8.2/uploadcare/uploadcare.full.min.js"></script>
</head>
<body>

  <%= proper_top_nav %>
  <div class="main-body">
    <%= yield %>
  </div>

</body>
</html>
