<!DOCTYPE html>
<html>
<head>
  <!-- Welcome to the Nu World Order !-->
  <!-- Yours truly, -->
  <!-- Steven, Kendra, Jarrell, and Reid -->
  <title>NuWorld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "nav_bars/top_nav" %>
  <%= render partial: "nav_bars/calculator_overview", locals: {footprint: @footprint} %>
  <h4 class="calculator-message"><%= flash[:calculator_message] %></h4>
  <%= yield %>

</body>
</html>
